AUTH0_DOMAIN=yourname.auth0.com
AUTH0_AUDIENCE=https://clearfund.app
GEMINI_API_KEY=
MONGO_URL=mongodb+srv://...
DB_NAME=clearfund
SOLANA_NETWORK=devnet
SOLANA_RPC_URL=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_AUTHORITY_WALLET_ID=
LAVA_API_KEY=
FRONTEND_URL=http://localhost:5173
