AUTH0_DOMAIN=yourname.auth0.com
AUTH0_AUDIENCE=https://vested.app
GEMINI_API_KEY=
MONGO_URL=mongodb+srv://...
DB_NAME=vested
SOLANA_NETWORK=devnet
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_AUTHORITY_WALLET_ID=
DUNE_API_KEY=
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:5173
