AUTH0_DOMAIN=yourname.auth0.com
AUTH0_AUDIENCE=https://clearfund.app
GEMINI_API_KEY=
MONGO_URL=mongodb+srv://...
DB_NAME=clearfund
SOLANA_NETWORK=devnet
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_AUTHORITY_WALLET_ID=
LAVA_API_KEY=https://g.w.lavanet.xyz:443/gateway/solana/rpc-http/6627432d397987a5d4f6e668673d93ab             # get from gateway.lavanet.xyz
FRONTEND_URL=http://localhost:5173
